{% extends 'frame.html'%}
{% block right_content%}
    <div id="tabChangeDiv" style="padding-top: 5px">
            <ul class="nav nav-tabs" style="font-size: 18px">
                <li role="presentation" class="active" style="border-color: #00cc00"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Notes</a></li>
                <li role="presentation"><a href="#">Proxy</a></li>
            </ul>
    </div>
    <div style="font-size: 15px;margin-top: 5px">
        <form class="form-inline">
            <div class="form-group has-feedback">
                <label class="sr-only" for="basicSearchValue">输入关键词</label>
                <input type="text" style="width: 300px" class="form-control" id="basicSearchValue" placeholder="请输入关键词。。">
                <a href="#" class="glyphicon glyphicon-search form-control-feedback" id="basicSearch"></a>
            </div>
            <button type="button" class="btn btn-info" style="float: right" id="powerSearchToggle">高级搜索</button>
            <button type="button" class="btn btn-info" style="float: right;margin-right: 20px" id="refreshBtn"><span class="glyphicon glyphicon-refresh"></span></button>
            <button type="button" class="btn btn-info" style="float: right;margin-right: 20px" id="downloadBtn"><span class="glyphicon glyphicon-download-alt"></span></button>
        </form>
    </div>
    <div id="powerSearchDiv" style="background-color: #E0E0EA;height: 160px;margin-top: 5px;display: none">
        <form class="form-horizontal">
            <div class="form-group" style="padding-top: 15px;">
                <label class="control-label col-sm-1" for="keywords">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords">
                </div>
                <label class="control-label col-sm-1" for="keywords2">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords2">
                </div>
                <label class="control-label col-sm-1" for="keywords3">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords3">
                </div>
                <label class="control-label col-sm-1" for="keywords4">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords4">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="keywords5">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords5">
                </div>
                <label class="control-label col-sm-1" for="keywords6">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords6">
                </div>
                <label class="control-label col-sm-1" for="keywords7">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords7">
                </div>
                <label class="control-label col-sm-1" for="keywords8">hello</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="keywords8">
                </div>
            </div>
            <button type="button" class="btn btn-success col-sm-offset-5">提交</button>
            <button type="button" class="btn btn-warning col-sm-offset-1">清空</button>
        </form>
    </div>
    <div style="margin-top: 5px" id="tableDataInfo">
        <table id="example" class="display table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xiaoxiao</td>
                    <td>软件开发</td>
                    <td>有科</td>
                    <td>no1</td>
                    <td>2020-07-15 20:20:20</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>xiaoxiao</td>
                    <td>软件开发</td>
                    <td>有科</td>
                    <td>no1</td>
                    <td>2020-07-15 20:20:20</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>xiaoxiao</td>
                    <td>软件开发</td>
                    <td>有科</td>
                    <td>no1</td>
                    <td>2020-07-15 20:20:20</td>
                    <td>10000</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock%}
{% block js_file %}
    <script src="../static/js/pagejs/main/main.js"></script>
{% endblock%}